.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  color: #111;
}
a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  cursor: pointer;
}

/**--------------------Header-----------*/
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.head {
  display: flex;
  gap: 90px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.logo-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: -0.03em;
  gap: 4px;
}
.simply {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: -0.03em;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-nav-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -0.02em;
}
.header-nav-link {
}
.header-social {
  display: flex;
  align-items: center;
  gap: 14px;
}
.sociac-app {
}
.header-social-link {
}

/**--------------------Main menu-----------*/

.main-menu {
}
.menu {
  width: 1136px;
  height: 600px;
  padding: 381px 40px 40px 40px;
  flex-shrink: 0;

  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
  margin-bottom: 80px;
}
.main-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21em;
  letter-spacing: -0.03em;

  width: 484px;
  height: 102px;
  flex-shrink: 0;
  margin-bottom: 32px;
}
.menu-but {
  display: flex;
  align-items: center;
}
.main-but-buy {
  padding: 14px 40px;

  border-radius: 100px;
  background: #fd9222;

  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 14px;
}
.main-how {
  padding: 14px 40px;
  gap: 14px;

  border-radius: 100px;
  border: 1px solid #fff;

  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main-scr {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.42px;
  margin-left: auto;
}

/**--------------------Advantages-----------*/

.advantages {
  background: #1e1823;
  margin-bottom: 120px;
}
.visuall-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.adv-list {
  display: flex;
  display: flex;
  width: 1200px;
  padding: 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 88px;
}
.adv-item {
  width: calc((100% - 88px * 2) / 3);
}
.adv-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.adv-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: -0.02em;
}

/**--------------------Consist-----------*/

.consist {
  padding-bottom: 120px;
}
.con-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 412px;
  margin: 0 auto 28px;
}
.taste {
  color: #fd9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.29em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.con-about {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: -0.02em;
  max-width: 486px;
  margin: 0 auto 50px;
}
.con-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}
.con-item {
  width: calc((100% - 96px) / 4);
  padding: 28px 23px;

  border-radius: 15px;
  background: #fff;
  border: 1px solid #fd9222;
  background: #fff;
}
.con-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.con-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}
.con-img {
  margin: 0 auto;
  margin-bottom: 36px;
}
.con-type {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/**--------------------Prescription-----------*/

.prescription {
  padding-bottom: 120px;
}
.presc-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.made {
  color: #fd9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.presc-block {
  display: flex;
  gap: 20px;
}
.presc-img {
}
.presc-block-text {
  padding: 32px;

  border-radius: 15px;
  background: #fff;
}
.presc-menu {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33em;
  margin-bottom: 28px;
}
.presc-list {
}
.presc-item {
  margin-top: 24px;
}
.presc-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: -0.02em;
}

/**--------------------Production-----------*/

.product {
  margin-bottom: 120px;
}
.prod-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.prod {
  color: #fd9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.prod-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.prod-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 18px * 3) / 4);
  height: 364px;
  flex-shrink: 0;

  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}
.prod-img {
  margin: 32px auto 8px;
}
.prod-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.prod-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em; /* 116.667% */
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.prod-but {
  padding: 8px 20px;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;

  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/**--------------------Sellers-----------*/

.sellers {
  margin-bottom: 120px;
}
.sel-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.top {
  color: #fd9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.sel-list {
  display: flex;
  gap: 16px;
}
.sel-item {
  width: calc((100% - 16px * 2) / 3);
  flex-shrink: 0;

  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}
.sel-img {
  margin-bottom: 28px;
}
.sel-type {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
  text-transform: uppercase;
  margin-bottom: 28px;
}

/**--------------------Team-----------*/

.team {
  margin-bottom: 120px;
}
.team-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.choco {
  color: #fd9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.team-list {
  display: flex;
  gap: 28px;
}
.team-item {
  width: calc((100% - 28px * 2) / 3);
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  margin-bottom: 50px;
}
.team-img {
  margin: 0 auto 18px;
}
.team-name {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
}
.team-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: -0.02em;
  padding: 24px;
}
.team-but {
  padding: 14px 40px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fd9222;

  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: block;
  margin: 0 auto;
}
/**--------------Footer-----------*/

.footer {
  background-color: #1e1823;
}

.footer-up-part {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 50px;
  gap: 50px;
  margin-bottom: 50px;
}
.fot-title {
  width: 300px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21em;
  letter-spacing: -0.02em;
  margin-left: 32px;
  /**margin-right: ; /**pod voprosom*/
}
.chocolate {
  color: #fd9222;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21em;
  letter-spacing: -0.02em;
}

.networks {
  margin: 0 auto;
}
.netw-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29em;
  margin-bottom: 14px;
}
.netw-list {
  display: flex;
  gap: 14px;
}
.netw-item {
}
.netw-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: -0.02em;
}
.contact {
}
.cont-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29em;
  margin-bottom: 14px;
}
.address {
}
.cont-list {
}
.cont-item {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: -0.02em;
  padding-bottom: 4px;
}
.cont-link {
}

.line {
  width: 1136px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-down-part {
  background-color: #1e1823;
}
.navigation {
}
.nav-list {
  display: flex;
  gap: 24px;
  padding-left: 32px;
}
.nav-item {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: -0.02em;
}
.nav-link {
}
